/*-- Master stylesheet

/*-- Variables & mixins
@import "vars/_colors.sass"
@import "vars/_mixins.sass"


/*-- Components
@import "comps/_header.sass"
@import "comps/_index.sass"
@import "comps/_gallery.sass"
@import "comps/_navbar.sass"
@import "comps/_slider.sass"


/*-- Body styles
body
  font-family: Montserrat, sans-serif
  background-color: $color_vanilla
  color: black


/*-- Temporary styles (TEST) :)
