

.bg-dark {
  background-color:#red;
}

body {
  background-color:#black;
}


.grid-item-content {
  height: 100px;
  background: #0D8;
  border: 2px solid hsla(0, 0%, 0%, 0.7);
}

.grid-item-content--height2 { height: 200px; }
