.donateSlider
    background-color: red
    height: 4vh
    margin: auto 0
    background-color: $color_orange-light
    .donateInfo
        position: absolute
        animation: slider 40s infinite
        animation-timing-function: linear
        li
            display: inline-block
        



@keyframes slider
    0%
        transform: translateX(100vw)
    100%
        transform: translateX(-100%)

@-moz-keyframes slider
    0%
        -moz-transform: translateX(100vw)
    100%
        -moz-transform: translateX(100%)